'atom-text-editor':
  'ctrl-a': 'editor:move-to-beginning-of-screen-line'
  'alt-shift-b': 'editor:select-to-beginning-of-word'
  'ctrl-k': 'editor:delete-to-end-of-line'

'atom-workspace atom-text-editor:not([mini])':
  'shift-alt-up': 'editor:move-line-up'
  'shift-alt-down': 'editor:move-line-down'
  'alt-up': 'unset!'
  'alt-down': 'unset!'

'.platform-darwin atom-text-editor:not(.mini)':
  'shift-cmd-K': 'emmet:remove-tag'
  'ctrl-d': 'unset!'
  'ctrl-h': 'unset!'

'atom-text-editor:not([mini])':
  'ctrl-e': 'editor:move-to-end-of-line'
  'alt-ctrl-e': 'emmet:expand-abbreviation'

'body':
  'alt-up': 'editor:add-selection-above'
  'alt-down': 'editor:add-selection-below'
